#btn{
    text-align: center;
}
#refresh{
    text-align: center;
}

#tarjeta{
    align-items: center;
    text-align: center;
}

.card p-3{
    align-items: center;
}

#form input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(204, 204, 204, 0.337);
    padding: 15px;
    margin-bottom: 15px;
}

